<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mercado Libre</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" alt="MERCADO LIBRE" class="logo">
            
                <!-- Esta es la barrita de busquueda-->
                <form action="" method="post" class="barra_busqueda">
                    <input type="text" name="barra_busqueda" placeholder="Buscar productos"> <span
                        class="fa-sharp fa-solid fa-magnifying-glass lupa"></span>
                </form>
                
            <p class="copy-header">
                <span class="fa-sharp fa-solid fa-hand-holding-dollar "></span>
                Compra en cuotas y sin tajeta de credito
            </p>
        </div>

        <nav>
            <a href=""><span class="fas fa-bars burger-menu"></span></a>
        </nav>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Crea tu cuenta <span
                            class="fa-sharp fa-solid fa-id-card tajeta de credito"></span></a></li>
                <li><a href="/login">Ingresa <span class="fa-sharp fa-solid fa-arrow-right "></span></a></li>
                <li><a href="#">Mis Compras <span class="fa-sharp fa-solid fa-basket-shopping"></span></a></li>
            </ul>
        </nav>
    </header>

    <img src="/images/img-home-banner.jpg" alt="imagen del banner" class="imagen_banner">

    <main>
        <h1 class="titular">Ultima Vista</h1>
        <section class="seccion_ultima_vista">
            <article>
                <div class="carta_producto_diseño">

                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                    <article class="articulos_contenedor">
                        <span class="fa-sharp fa-solid fa-truck iconos_camion "></span>
                        <p class="precios">$6.770 </p>
                        <p class="descuentos">40% off</p>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </article>
                </div>
            </article>

            <article>
                <div class="carta_producto_diseño">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de computadora mackboock">
                    <article class="articulos_contenedor">
                        <span class="fa-sharp fa-solid fa-truck iconos_camion"></span>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <p class="descripciones">MacBook Pro 2019</p>
                    </article>
                </div>
            </article>

            <article>
                <div class="carta_producto_diseño">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de samsung galaxy s10">
                    <article class="articulos_contenedor">
                        <span class="fa-sharp fa-solid fa-truck iconos_camion"></span>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <p class="descripciones">Samsung Galaxy s10</p>
                    </article>
                </div>
            </article>

            <article>
                <div class="carta_producto_diseño">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de samsung samsung smart tv 43">
                    <article class="articulos_contenedor">
                        <span class="fa-sharp fa-solid fa-truck iconos_camion"></span>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <p class="descripciones">Samsung Smart TV 43</p>
                    </article>
                </div>
            </article>

        </section>
    </main>

    <main>
        <h1 class="titular">Ofertas</h1>
        <section class="seccion_ultima_vista">
            <article>
                <div class="carta_producto_diseño">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                    <article class="articulos_contenedor">
                        <span class="fa-sharp fa-solid fa-truck iconos_camion"></span>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </article>
                </div>
            </article>

            <article>
                <div class="carta_producto_diseño">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de computadora mackboock">
                    <article class="articulos_contenedor">
                        <span class="fa-sharp fa-solid fa-truck iconos_camion"></span>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <p class="descripciones">MacBook Pro 2019</p>
                    </article>
                </div>
            </article>

            <article>
                <div class="carta_producto_diseño">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de samsung galaxy s10">
                    <article class="articulos_contenedor">
                        <span class="fa-sharp fa-solid fa-truck iconos_camion"></span>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <p class="descripciones">Samsung Galaxy s10</p>
                    </article>
                </div>
            </article>

            <article>
                <div class="carta_producto_diseño">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de samsung samsung smart tv 43">
                    <article class="articulos_contenedor">
                        <span class="fa-sharp fa-solid fa-truck iconos_camion"></span>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <p class="descripciones">Samsung Smart TV 43</p>
                    </article>
                </div>
            </article>
        </section>
    </main>

    <footer class="fondo">
        <div class="alinear">
            <div class="footer">
                <span class="fa-sharp fa-solid fa-credit-card icono_footer"></span>
                <h4 class="texto1">Pagá con tarjeta o en efectivo</h4>
                <p class="articulo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer">
                <span class="fa-solid fa-gift icono_footer"></span>
                <h4 class="texto1">Envío gratis desde $ 2.500</h4>
                <p class="articulo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                <p class="articulo-Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </p>
                </p>
            </div>

            <div class="footer">
                <span class="fa-solid fa-user-shield icono_footer"></span>
                <h4 class="texto1">Seguridad, de principio a fin</h4>
                <p class="articulo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>

    </footer>
</body>

</html>