<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>formulario de login</title>
</head>

<body>
    <article class="contenedor">
        <form action="#" method="post" class="estilo_formulario">
            <div class="control_formulario">
                <label for="">
                    <h4 class="contenido_del_label">Usuario</h4>
                </label>
                <input type="text" name="nombre_apellido" placeholder="ingrese su suario" class="control" required>
            </div>

            <div class="control_formulario">
                <label for="">
                    <h4 class="contenido_del_label">Contraseña</h4>
                </label>
                <input type="password" name="nombre_usuario" placeholder="ingrese su contraseña" class="control"
                    required>
            </div>

            <div class="boton_contenedor">
                <button type="reset" name="borrar" class="boton_formulario">Borrar</button>
                <button type="submit" name="enviar" class="boton_formulario">Enviar</button>
            </div>
        </form>
    </article>


</body>

</html>